.about {
  /* background-color: var(--primary-background);  */
  padding-bottom: 94px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--columns-gap));
  margin-top: calc(-1 * var(--columns-gap));
}

.about-list__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: var(--columns-gap);
  margin-top: var(--columns-gap);
}

.about__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
