.hero {
  max-width: 1600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/hero.jpg);
  background-size: cover;
  background-color: var(--accent-background);
}

.hero__container {
  text-align: center;
}

.main-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.main-btn {
  min-width: 216px;
  padding: 10px 16px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: var(--accent-color);

  &:active,
  &:focus {
    position: relative;
    top: 1px;
    left: 1px;
  }
}
