.team {
  background-color: var(--secondary-background);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--columns-gap));
  margin-top: calc(-1 * var(--columns-gap));
}

.team-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: var(--columns-gap);
  margin-top: var(--columns-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-bottom {
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.team-list__icon {
  display: flex;
}

.team-list__item-icon:not(:last-child) {
  margin-right: 10px;
}

.team-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
  }
}

.team-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-item-icon:hover &,
  .team-item-icon:focus & {
    fill: #ffffff;
  }
}
