.logo {
  margin-right: 92px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  &__accent {
    color: var(--accent-color);
  }
  &-footer {
    color: var(--accent-text-color);
  }
}
